.couponCommands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 45px;
}

.btnAddCoupon {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
  background-color: #5fba80;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 30px;
  height: 45px;
  line-height: 28px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.btnAddCoupon:hover {
  background-color: #429a63;
}

.myBtn {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 30px;
  height: 45px;
  line-height: 28px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.myBtnAddCoupon {
  background-color: #5fba80;
}

.myBtnAddCoupon:hover {
  background-color: #429a63;
}

.myBtnDeleteCoupon {
  background-color: #ba5f5f;
}

.myBtnDeleteCoupon:hover {
  background-color: #9a4242;
}

.inputFilterCoupon {
  padding: 0 15px;
  height: 40px;
  width: 300px;
  background-color: #f8f8fb;
  color: #616161;
  font-size: 14px;
  border: 1px solid #eef1f7;
  border-radius: 6px;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-md {
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333334%;
          flex: 0 0 33.333334%;
  max-width: 33.333334%;
}

.col-md-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-md-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-md-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.form-group {
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 40px 0px 0px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.normalButton {
  display: inline-block;
  border-radius: 4px;
  color: #4e566d;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 30px;
  padding: 0 10px;
  font-size: 15px;
  outline: none;
  font-weight: 500;
}

.whiteButton {
  color: #4e566d !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.05), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.05), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08) !important;
}
/*# sourceMappingURL=coupons.css.map */